// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.fk-div{
  display: flex;
  justify-content: center;
}
.card{
  width: 500px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}